body {
    color: #fff;
    background-color: #000;
    padding: 1rem;
}

.container {
    display: flex;
    gap: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #353535;
    border-radius: 4px;
    cursor: pointer;
    font-size: 3rem;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 3;
    background-color: orange;
}

.title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}