.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-item {
    font-size: 2em;
    margin: 4px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: orange;
}

.first {
    order: -1;
    background-color: orangered;
}

.last {
    order: 1;
    background-color: mediumseagreen;
}